body {
      background-color: black;
}

.dropdown-item:hover {
  background-color: #9c8a06; /* Change this to your desired color */
  color: red;              /* Optional: change text color on hover */
    }

.navbar-custom {
  background-color: #2b1417);
    }

.main {width: 100%;
       height: 95vh;
       padding: 3%;
            }

.add_data_block {
                 width: 100%;
                 height: 90vh;
                 overflow: auto;
                 padding: 3%;
                 display:flex;
                 flex-direction: row;
                 justify-content: space-between;
                 flex-wrap: wrap;
}

.add_fpv_total {
                width: 35%;

                display: flex;
                flex-wrap: wrap;
                border: .5px solid yellow;
                padding: 1%;
                }


.add_fpv_title {
                width: 100%;
                display: flex;
                justify-content: center;

}

.add_fpv_operator_name {
                        display: flex;
                        flex-direction: column;
}

.add_fpv_total_mini_div{
                        display: flex;
                        flex-direction: column
}

.title_filter_panel_sum_filter{
                               display: flex;
                               flex-direction: row;
                               justify-content: space-between;
}

.total_value {
              border: .5px solid yellow;
              width: 25%;
              display: flex;
              justify-content: center;
              backdrop-filter: blur(6px);



}

.add_mavic_total{
                width: 35%;

                display: flex;
                flex-wrap: wrap;
                border: .5px solid yellow;
                padding: 1%;
}

.order_main {
             width: 100%;
             display: flex;
             flex-direction: row;
}

.side_panel {
             width: 25%;
             height: 95vh;
             overflow: auto;
             padding: 2%;
             border-right: 1px solid yellow;


}

.orders_block {
               width: 75%;
               height: 95vh;
               overflow: auto;
               padding: 2%;
}

.filter_panel {
               padding: 3%;
               border-bottom: .5px solid yellow;
}


.main_fpv_order {

}

.table_button  button{
                        margin-top: 2%;
                        width: 100%;
                        background-color: transparent;
                        color: #fff
}

.add_radio_service {
                    width: 35%;
                    display: flex;
                    flex-wrap: wrap;
                    border: .5px solid yellow;
                    padding: 1%;
                }


.rifle_add {
            width: 35%;
            display: flex;
            flex-wrap: wrap;
            border: .5px solid yellow;
            padding: 1%;

            }


.stat_page_main {
                 display: flex;
                 flex-direction: row;
                 width: 100%

}

.diagram_div {
              width: 60%;,
              display: flex;
              justify-content: center;
              height: 95vh;
              overflow: auto;
}

.chart_title {
              display: flex;
              justify-content: center;
}

.calculator {
             display: flex;
             justify-content: space-around;

}

.calculator input {
                   width: 15%;
}

.battery_position_footer {
                          width: 100%;
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;

}

.main_schield {
               border: .5px solid yellow;
               width: 100%;


}

@media screen and (max-width: 430px){
    .add_data_block {
                 width: 100%;

                 overflow: auto;
                 height: 97vh;
                 padding: 3%;
                 display:flex;
                 flex-direction: column;
                 justify-content: space-between;
                 flex-wrap: wrap;
            }

    .add_fpv_total {
                width: 97%;
                display: flex;
                flex-wrap: wrap;
                border: .5px solid yellow;
                padding: 1%;
                margin-top: 15px;
                }

    .add_mavic_total{
                width: 97%;

                display: flex;
                flex-wrap: wrap;
                border: .5px solid yellow;
                padding: 1%;
                margin-top: 15px;
            }
    .input_form_div {
                     width: 100%;
                    }
    .input_form_div input{
                     width: 100%;
                    }

    .add_fpv_total_mini_div {
                              width: 100%;
                            }

    .add_fpv_operator_name {
                            width: 100%;
                            }

    .order_main {
             width: 100%;
             display: flex;
             flex-direction: column;
    }

    .side_panel {
             display: none;`
             width: 97%;
             height: 45vh;
             overflow: auto;
             padding: 2%;
             border: 1px solid yellow;
             margin-top: 10px;
    }

    .orders_block {
               width: 100%;
               height: 95vh;
               overflow: auto;
               padding: 2%;
}


}
