{% extends 'main_app/layout_main.html' %}


{%block title%}Count CRM{%endblock%}

{%block content%}
<div class="container-fluid main">
    <form method="post">
        {%csrf_token%}
        <div class="add_data_block">
            <div class="add_fpv_total">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add FPV flow in Storage</h5>
                </div>
                <div class="input_form_div">
                    <label for="drohn_name"></label>
                    <input type="text" placeholder="dron_name" name="dron_name" id="drohn_name">
                </div>
                <div class="input_form_div">
                    <label for="diag"></label>
                    <input type="text" placeholder="diagonal" name="diagonal" id="diag">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="serial" class="text-light">serial</label>
                    <input type="text" placeholder="serial" name="serial" id="serial">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_num" class="text-light">dron number</label>
                    <input type="text" placeholder="dron_num" name="dron_num" id="dron_num">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_in" class="text-light">dron in</label>
                    <input type="date" placeholder="date_in" name="date_in" id="dron_in">
                </div>
                <button class="btn btn-success" style="width: 100%; background: transparent; margin-top: 10px;"
                        name="add_fpv_storage" type="submit" value="1">add data
                </button>
            </div>


            <div class="add_mavic_total">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add Mavic/Autel flow in Storage</h5>
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_name" class="text-light">dron name</label>
                    <input type="text" placeholder="dron name" name="dron_name1" id="dron_name">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_num1" class="text-light">dron number</label>
                    <input type="text" placeholder="dron num" name="dron_num1" id="dron_num1">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_in1" class="text-light">dron in</label>
                    <input type="date" placeholder="date_in" name="date_in1" id="dron_in1">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dok_num" class="text-light">dok_num</label>
                    <input type="text" placeholder="dok_num" name="dok_num" id="dok_num">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_value" class="text-light">dron_value</label>
                    <input type="text" placeholder="dron_value" name="dron_value" id="dron_value">
                </div>
                <button name="add_autel_mavic_storage" value="1" class="btn btn-success "
                        style="width: 100%; background: transparent; margin-top: 10px;">add
                    data
                </button>
            </div>


            <div class="add_fpv_total">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add FPV position flow</h5>
                </div>
                <div class="input_form_div">
                    <label for="drohn_name2"></label>
                    <input type="text" placeholder="dron_name" name="dron_name2" id="drohn_name2">
                </div>
                <div class="input_form_div">
                    <label for="diag2"></label>
                    <input type="text" placeholder="diagonal" name="diagonal2" id="diag2">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="serial3" class="text-light">serial</label>
                    <input type="text" placeholder="serial" name="serial2" id="serial3">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_num4" class="text-light">dron number</label>
                    <input type="text" placeholder="dron_num" name="dron_num2" id="dron_num4">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_in5" class="text-light">dron in</label>
                    <input type="date" placeholder="date_in" name="date_in2" id="dron_in5">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="position_name2" class="text-light">position_name</label>
                    <input type="text" placeholder="position_name" name="position_name1" id="position_name2">
                </div>
                <div class="add_fpv_operator_name">
                    <label for="operator_name" class="text-light">operator_name</label>
                    <input type="text" placeholder="operator_name" name="operator_name1" id="operator_name">
                </div>
                <button class="btn btn-success " style="width: 100%; background: transparent; margin-top: 10px;"
                        name="add_fpv_main" type="submit" value="1">add data
                </button>
            </div>

            <div class="add_radio_service">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add Radio Supplies</h5>
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="supply_name" class="text-light">supply_name</label>
                    <input type="text" placeholder="supply_name" name="supply_name" id="supply_name">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="supply_price" class="text-light">supply_price</label>
                    <input type="text" placeholder="supply_price" name="supply_price" id="supply_price">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="serial_number" class="text-light">serial_number</label>
                    <input type="text" placeholder="serial_number" name="serial_number" id="serial_number">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="date_in" class="text-light">date_in</label>
                    <input type="date" placeholder="date_in" name="date_in" id="date_in">
                </div>
                <button name="add_radio_supply" value="1" class="btn btn-success "
                        style="width: 100%; background: transparent; margin-top: 10px;">add
                    data
                </button>
            </div>

            <div class="rifle_add">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add Rifle</h5>
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="nickname" class="text-light">nickname</label>
                    <input type="text" placeholder="nickname" name="nickname" id="nickname">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="type_rifle" class="text-light">type_rifle</label>
                    <input type="text" placeholder="type_rifle" name="type_rifle" id="type_rifle">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="Rifle_number" class="text-light">Rifle_number</label>
                    <input type="text" placeholder="Rifle_number" name="Rifle_number" id="Rifle_number">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="date_in_rifle" class="text-light">date_in_rifle</label>
                    <input type="date" placeholder="date_in_rifle" name="date_in_rifle" id="date_in_rifle">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="produced_date" class="text-light">produced_date</label>
                    <input type="text" placeholder="produced_date" name="produced_date" id="produced_date">
                </div>
                <button name="add_rifle" value="1" class="btn btn-success "
                        style="width: 100%; background: transparent; margin-top: 10px;" >add
                    data
                </button>
            </div>

            <div class="add_radio_service">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add battery to storage</h5>
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="battery_name" class="text-light">battery_name</label>
                    <input type="text" placeholder="battery_name" name="battery_name" id="battery_name">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="battery_price" class="text-light">battery_price</label>
                    <input type="text" placeholder="battery_price" name="battery_price" id="battery_price">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="quantities" class="text-light">quantities</label>
                    <input type="text" placeholder="quantities" name="quantities" id="quantities">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="bat_date_in" class="text-light">bat_date_in</label>
                    <input type="date" placeholder="bat_date_in" name="bat_date_in" id="bat_date_in">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="bat_doc_num" class="text-light">bat_doc_num</label>
                    <input type="text" placeholder="bat_doc_num" name="bat_doc_num" id="bat_doc_num">
                </div>
                <button name="add_battery_storage" value="1" class="btn btn-success "
                        style="width: 100%; background: transparent; margin-top: 10px;">add
                    data
                </button>
            </div>

        </div>
    </form>
</div>
{%endblock%}
