{% extends 'main_app/layout_main.html' %}


{%block title%}Count CRM{%endblock%}

{%block content%}
<div class="container-fluid main">
    <form method="post">
        {%csrf_token%}
        <div class="add_data_block">
            <div class="add_fpv_total">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add FPV flow in Storage</h5>
                </div>
                <div class="input_form_div">
                    <label for="drohn_name"></label>
                    <input type="text" placeholder="dron_name" name="dron_name" id="drohn_name">
                </div>
                <div class="input_form_div">
                    <label for="diag"></label>
                    <input type="text" placeholder="diagonal" name="diagonal" id="diag">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="serial" class="text-light">serial</label>
                    <input type="text" placeholder="serial" name="serial" id="serial">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_num" class="text-light">dron number</label>
                    <input type="text" placeholder="dron_num" name="dron_num" id="dron_num">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_in" class="text-light">dron in</label>
                    <input type="date" placeholder="date_in" name="date_in" id="dron_in">
                </div>
                <button class="btn btn-success" style="width: 100%; background: transparent; margin-top: 10px;"
                        name="add_fpv_storage" type="submit" value="1">add data
                </button>
            </div>


            <div class="add_mavic_total">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add Mavic/Autel flow in Storage</h5>
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_name" class="text-light">dron name</label>
                    <input type="text" placeholder="dron name" name="dron_name1" id="dron_name">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_num1" class="text-light">dron number</label>
                    <input type="text" placeholder="dron num" name="dron_num1" id="dron_num1">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_in1" class="text-light">dron in</label>
                    <input type="date" placeholder="date_in" name="date_in1" id="dron_in1">
                </div>
                <button name="add_autel_mavic_storage" value="1" class="btn btn-success "
                        style="width: 100%; background: transparent; margin-top: 10px;">add
                    data
                </button>
            </div>


            <div class="add_fpv_total">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add FPV position flow</h5>
                </div>
                <div class="input_form_div">
                    <label for="drohn_name2"></label>
                    <input type="text" placeholder="dron_name" name="dron_name2" id="drohn_name2">
                </div>
                <div class="input_form_div">
                    <label for="diag2"></label>
                    <input type="text" placeholder="diagonal" name="diagonal2" id="diag2">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="serial3" class="text-light">serial</label>
                    <input type="text" placeholder="serial" name="serial2" id="serial3">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_num4" class="text-light">dron number</label>
                    <input type="text" placeholder="dron_num" name="dron_num2" id="dron_num4">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_in5" class="text-light">dron in</label>
                    <input type="date" placeholder="date_in" name="date_in2" id="dron_in5">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="position_name2" class="text-light">position_name</label>
                    <input type="text" placeholder="position_name" name="position_name1" id="position_name2">
                </div>
                <div class="add_fpv_operator_name">
                    <label for="operator_name" class="text-light">operator_name</label>
                    <input type="text" placeholder="operator_name" name="operator_name1" id="operator_name">
                </div>
                <button class="btn btn-success " style="width: 100%; background: transparent; margin-top: 10px;"
                        name="add_fpv_main" type="submit" value="1">add data
                </button>
            </div>

            <div class="add_fpv_total">
                <div class="add_fpv_title">
                    <h5 class="text-light"> add Mavic/Autel position flow</h5>
                </div>
                <div class="input_form_div">
                    <label for="drohn_name3"></label>
                    <input type="text" placeholder="dron_name" name="dron_name3" id="drohn_name3">
                </div>
                <div class="input_form_div">
                    <label for="diag3"></label>
                    <input type="text" placeholder="diagonal" name="diagonal3" id="diag3">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="serial4" class="text-light">serial</label>
                    <input type="text" placeholder="serial" name="serial4" id="serial4">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_num5" class="text-light">dron number</label>
                    <input type="text" placeholder="dron_num" name="dron_num5" id="dron_num5">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="dron_in6" class="text-light">dron in</label>
                    <input type="date" placeholder="date_in" name="date_in6" id="dron_in6">
                </div>
                <div class="add_fpv_total_mini_div">
                    <label for="position_name6" class="text-light">position_name</label>
                    <input type="text" placeholder="position_name" name="position_name6" id="position_name6">
                </div>
                <div class="add_fpv_operator_name">
                    <label for="operator_name6" class="text-light">operator_name</label>
                    <input type="text" placeholder="operator_name" name="operator_name6" id="operator_name6">
                </div>
                <button class="btn btn-success" style="width: 100%; background: transparent; margin-top: 10px;"
                        name="add_fpv_main" type="submit" value="1">add data
                </button>
            </div>


        </div>
    </form>
</div>
{%endblock%}
