{% extends 'main_app/layout_main.html'%}

{%block title%} Mavic_Autel Storage Page {%endblock%}

{%block content%}
<div class="container-fluid order_main" style="width: 100%">
    <div class="side_panel" id="side_panel">
        <form method="get">
            <div class="filter_panel">
                <div class="title_filter_panel">
                    <h5 class="text-light">Searching by dron number</h5>
                </div>
                <div>
                    <input class="form-control" type="text" name="dron_num_search" placeholder="search by dron number">
                </div>
                <br>
                <button class="btn btn-warning text-light" style="background: transparent; width: 100%" type="submit">
                    filter
                </button>
                <br>
            </div>
        </form>

        <form method="get">
            <div class="filter_panel">
                <div class="title_filter_panel">
                    <h5 class="text-light">Adaptive search by dron name </h5>
                </div>
                <div class="title_filter_panel">

                    <input class="form-control" placeholder="adaptive search" name="adaptive_search" type="text">

                </div>
                <br>
                <button class="btn btn-warning text-light" style="background: transparent; width: 100%"
                        name="adaptive_btn" type="submit" value="1">
                    filter
                </button>
            </div>
        </form>


        <form method="get">
            <div class="filter_panel">
                <div class="title_filter_panel">
                    <h5 class="text-light">Adaptive search by document name </h5>
                </div>
                <div class="title_filter_panel">

                    <input class="form-control" placeholder="adaptive search" name="adaptive_document" type="text">

                </div>
                <br>
                <button class="btn btn-warning text-light" style="background: transparent; width: 100%"
                        name="adaptive_doc_btn" type="submit" value="1">
                    filter
                </button>
            </div>
        </form>


        <form method="get">
            <div class="filter_panel">
                <div class="title_filter_panel">
                    <h5 class="text-light">Search by price</h5>
                </div>
                <div class="title_filter_panel_sum_filter">

                    <input class="form-control" placeholder="start" name="start_num" type="text" value="0">
                    <input class="form-control" placeholder="end" name="end_num" type="text" value="0">

                </div>
                <br>
                <button class="btn btn-warning text-light" style="background: transparent; width: 100%"
                        name="sum_btn" type="submit" value="1">
                    filter
                </button>
            </div>
        </form>
    </div>
    <div class="orders_block">
        <div class="total_value">
            <div style="background: blur(6px)">
                <p class="text-light">total values: {{total_value}}</p>
                <p></p>
            </div>
        </div>
        <table class="table table-dark table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">dron name</th>
                <th scope="col">dron number</th>
                <th scope="col">dron in</th>
                <th scope="col">dron out</th>
                <th scope="col">who took</th>
                <th scope="col">position_name</th>
                <th scope="col">dron value</th>
                <th scope="col">number of document</th>
                <th scope="col">change_data</th>
            </tr>
            </thead>
            {%for el in model%}
            {% if el.status == '1' %}
            <form method="post">
                {%csrf_token%}
                <tbody>
                <td style="background-color: #23612f">{{el.dron_name}}</td>
                <td style="background-color: #23612f">{{el.dron_number}}</td>
                <td style="background-color: #23612f">{{el.dron_in}}</td>
                <td style="background-color: #23612f">{{el.dron_out}}</td>
                <td style="background-color: #23612f">
                    <input class="form-control" name="whot_took_change">
                </td>
                <td style="background-color: green"><input class="form-control" placeholder="position name"
                                                           name="postion_name_change"></td>
                <td style="background-color: #23612f">{{el.supply_value}}</td>

                {%if el.number_of_document == 0%}
                <form method="post">
                    {%csrf_token%}
                    <td style="background-color: #23612f"><input class="form-control" type="text" name="document_num">
                        <button class="btn btn-success" style="width: 100%;" type="submit" value="{{el.id}}"
                                name="dok_btn">change data
                        </button>
                    </td>
                </form>
                {%else%}
                <td style="background-color: #23612f">{{el.number_of_document}}</td>
                {%endif%}
                <td>
                    <button class="btn btn-success" name="mavic_change" value="{{el.id}}">change data</button>
                </td>

                </tr>
                </tbody>
            </form>
            {%else%}
            <tbody>
            <tr>
                <td style="background-color: red">{{el.dron_name}}</td>
                <td style="background-color: red">{{el.dron_number}}</td>
                <td style="background-color: red">{{el.dron_in}}</td>
                <td style="background-color: red">{{el.dron_out}}</td>
                <td style="background-color: red">{{el.who_took}}</td>
                <td style="background-color: red">{{el.position_name}}</td>
                <td></td>
                <td style="background-color: red">{{el.supply_value}}</td>
                {% if el.number_of_document == '0'%}
                <form method="post">
                    {%csrf_token%}
                    <td style="background-color: red"><input class="form-control" type="text" name="document_num">
                        <button class="btn btn-success" style="width: 100%;" type="submit" value="{{el.id}}"
                                name="dok_btn">change data
                        </button>
                    </td>
                </form>
                {%else%}
                <td style="background-color: red">{{el.number_of_document}}</td>
                {%endif%}
                {%endif%}
                {%endfor%}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}