{% extends 'main_app/layout_main.html'%}

{%block title%} Mavic_Autel Storage Page {%endblock%}

{%block content%}
<div class="container-fluid order_main" style="width: 100%">
    <div class="side_panel">
        <div class="filter_panel">
            <div class="title_filter_panel">
                <h5 class="text-light">Filter</h5>
            </div>
            <div>
                <select class="form-control">
                    <option>filter by operator</option>
                    <option>filter by position</option>
                    <option>filter by dron name</option>
                </select>
            </div>
            <br>
            <button class="btn btn-warning text-light" style="background: transparent; width: 100%">
                filter
            </button>
            <br>

        </div>
    </div>
    <div class="orders_block">
        <table class="table table-dark table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">dron name</th>
                <th scope="col">dron number</th>
                <th scope="col">dron in</th>
                <th scope="col">dron out</th>
                <th scope="col">who took</th>
                <th scope="col">position_name</th>
                <th scope="col">change_data</th>
            </tr>
            </thead>
            {%for el in model%}
            {% if el.status == '1' %}
            <form method="post">
                {%csrf_token%}
                <tbody>
                <td style="background-color: green">{{el.dron_name}}</td>
                <td style="background-color: green">{{el.dron_number}}</td>
                <td style="background-color: green">{{el.dron_in}}</td>
                <td style="background-color: green">{{el.dron_out}}</td>
                <td style="background-color: green">
                    <select class="form-control"
                            name="whot_took_change">
                        <option>operator_name</option>
                        <option>nick</option>
                        <option>nick_1</option>
                        <option>nick_2</option>
                        <option>nick_3</option>
                    </select></td>
                <td style="background-color: green"><input class="form-control" placeholder="position name"
                                                           name="postion_name_change"></td>

                <td>
                    <button class="btn btn-success" name="mavic_change" value="{{el.id}}">change data</button>
                </td>

                </tr>
                </tbody>
            </form>
            {%else%}
            <tbody>
            <tr>
                <td style="background-color: red">{{el.dron_name}}</td>
                <td style="background-color: red">{{el.dron_number}}</td>
                <td style="background-color: red">{{el.dron_in}}</td>
                <td style="background-color: red">{{el.dron_out}}</td>
                <td style="background-color: red">{{el.who_took}}</td>
                <td style="background-color: red">{{el.position_name}}</td>
                {%endif%}
                {%endfor%}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}