{% extends 'main_app/layout_main.html'%}

{%block title%}Mavic?Autel position flow{%endblock%}

{% block content%}
<div class="container-fluid order_main table-sm">
    <div class="side_panel" id="side_panel">
        <form method="get">
            <div class="filter_panel">
                <div class="title_filter_panel">
                    <h5 class="text-light">Searching by dron number</h5>
                </div>
                <div>
                    <input class="form-control" type="text" name="dron_num_search" placeholder="search by dron number">
                </div>
                <br>
                <button class="btn btn-warning text-light" style="background: transparent; width: 100%" type="submit">
                    filter
                </button>
                <br>
            </div>
        </form>
    </div>

    <div class="orders_block">
        <table class="table table-dark table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">dron_name</th>
                <th scope="col">dron_number</th>
                <th scope="col">dron_in</th>
                <th scope="col">dron_out</th>
                <th scope="col">who_crash</th>
                <th scope="col">position_name</th>
                <th scope="col">crash_coordinates</th>
                <th scope="col">Comment</th>
                <th scope="col">change data</th>
            </tr>
            </thead>
            <form method="post">
                {%csrf_token%}
                <tbody>
                {% for el in model%}
                {%if el.status == '1'%}
                <tr>
                    <td style="background-color:green">{{el.dron_name}}</td>
                    <td style="background-color:green">{{el.dron_number}}</td>
                    <td style="background-color:green">{{el.dron_in}}</td>
                    <td style="background-color:green">{{el.dron_out}}</td>
                    <td style="background-color:green">
                        <input class="form-control" name="who_crash">
                    </td>
                    <td style="background-color:green" class="table_column">{{el.position_name}}</td>
                    <td style="background-color:green"><input class="form-control" placeholder="xxx xx xxxxx xxxxx"
                                                              name="crash_coordinates"></td>

                    <td style="background-color:green">
                        <textarea class="form-control" name="comment" rows="3"></textarea>
                    </td>

                    <td>
                        <div class="table_button">
                            <button class="btn btn-danger" type="submit" value="{{el.id}}" name="destroy_pos_item">
                                destroy
                            </button>
                            <button class="btn btn-warning" type="submit" name="to_storage" value="{{el.id}}">to storage
                            </button>
                        </div>

                    </td>
                </tr>
                {%elif el.status == '2'%}
                <tr>
                    <td style="background-color:grey">{{el.dron_name}}</td>
                    <td style="background-color:grey">{{el.dron_number}}</td>
                    <td style="background-color:grey">{{el.dron_in}}</td>
                    <td style="background-color:grey">{{el.dron_out}}</td>
                    <td style="background-color:grey">{{el.who_took}}</td>
                    <td style="background-color:grey">{{el.position_name}}</td>
                    <td style="background-color:grey">{{el.crash_coordinates}}</td>
                </tr>
                {%else%}
                <tr>
                    <td style="background-color:red">{{el.dron_name}}</td>
                    <td style="background-color:red">{{el.dron_number}}</td>
                    <td style="background-color:red">{{el.dron_in}}</td>
                    <td style="background-color:red">{{el.dron_out}}</td>
                    <td style="background-color:red">{{el.who_took}}</td>
                    <td style="background-color:red">{{el.position_name}}</td>
                    <td style="background-color:red">{{el.crash_coordinates}}</td>
                    <td style="background-color:red">
                        {{el.comment}}
                    </td>
                </tr>
                {%endif%}
                {%endfor%}
                </tbody>
            </form>
        </table>
    </div>
</div>
{%endblock%}