{%extends 'main_app/layout_main.html'%}

{%block title%}statistic page{%endblock%}

{% block content%}
<div class="container-fluid">
    <div class="stat_page_main">
        <div class="side_panel" id="side_panel">
            <form method="get">
                <div class="filter_panel">
                    <div class="title_filter_panel">
                        <h5 class="text-light">Data by parametrs</h5>
                    </div>
                    <div style="backdrop-filter: blur(10px);" class="filter_panel">
                        <h5 class="text-light">Main info</h5>
                        <p class="text-light">in storage: <span id="mav_on_storage">{{in_storage}}</span></p>
                        <p class="text-light">in position: <span id="mav_on_position">{{in_position}}</span></p>
                        <p class="text-light">in position: taking for all period <span
                                id="mav_for_all_period">{{all_period_taking}}</span></p>
                        <p class="text-light">all_destroy: <span id="all_destroy">{{all_destroy}}</span></p>
                    </div>
                    <br>
                    <div style="backdrop-filter: blur(10px);">
                        <h5 class="text-light">Mavic/Autel info</h5>
                        <p class="text-light">in storage: <span id="mav_aut_on_storage">{{in_storage_mav}}</span></p>
                        <p class="text-light">in position: <span id="mav_aut_on_position">{{in_position_mav}}</span></p>
                        <p class="text-light">in position: taking for all period <span
                                id="mav_aut_for_all_period">{{taking_for_all_per_mavic}}</span></p>
                        <p class="text-light">all_destroy: <span id="all_mav_aut_destroy">{{all_destroy_mav}}</span></p>
                    </div>
                    <br>
                </div>



            </form>
        </div>
        <div class="diagram_div">
            <div style="border-bottom: 1px solid yellow; ">
                <div class="chart_title">
                    <h5 class="text-light">Main data about all supply</h5>
                </div>
                <canvas id="myChart"></canvas>
            </div>

            <div style="border-bottom: 1px solid yellow; ">
                <div class="chart_title">
                    <h5 class="text-light">Main data mavic/autel</h5>
                </div>
                <canvas id="myChartMavic"></canvas>
            </div>


        </div>
    </div>
</div>
<script src="static/main_app/js/statistics.js"></script>
{%endblock%}