{%extends 'main_app/layout_main.html'%}

{%block title%}statistic page{%endblock%}

{% block content%}
<div class="container-fluid">
    <div class="stat_page_main">
        <div class="side_panel" id="side_panel">
            <div class="filter_panel">
                <form method="get">
                    <div class="take_period">
                        <h5 class="text-light">Chose rendering month</h5>
                        <input type="date" class="form-control" name="rendering_period">
                        <br>
                        <button class="btn btn-warning text-light" type="submit" value="1"
                                style="background-color: transparent; width: 100%;" name="build_order">build order
                        </button>
                    </div>
                </form>
            </div>
            <br>
            <div class="filter_panel">
                <form method="get">
                    <div class="take_period">
                        <h5 class="text-light">Chose rendering period</h5>
                        <div>
                            <input type="date" class="form-control" name="rendering_period_1">
                            <input type="date" class="form-control" name="rendering_period_2">
                        </div>
                        <br>
                        <button class="btn btn-warning text-light" type="submit" value="1"
                                style="background-color: transparent; width: 100%;" name="build_order_period">build
                            order
                        </button>
                    </div>
                </form>
            </div>
            <br>
            <div class="filter_panel">
                <form method="get">
                    <div class="take_period">
                        <h5 class="text-light">Chose rendering period</h5>
                        <div>
                            <input type="date" class="form-control" name="rendering_period_by_position">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="Bangkok" value="Bangkok"
                                       id="Bangkok">
                                <label class="form-check-label text-light" for="Bangkok">
                                    Bangkok
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="Shushanik" value="Shushanik"
                                       id="Shushanik">
                                <label class="form-check-label text-light" for="Shushanik">
                                    Shushanik
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="Fog" value="Fog" id="Fog">
                                <label class="form-check-label text-light" for="Fog">
                                    Fog
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="Falcon" value="Falcon" id="Falcon">
                                <label class="form-check-label text-light" for="Falcon">
                                    Falcon
                                </label>
                            </div>
                        </div>

                        <br>
                        <button class="btn btn-warning text-light" type="submit" value="1"
                                style="background-color: transparent; width: 100%;" name="build_order_by_position">build
                            order
                        </button>
                    </div>
                    <br>
                    <div class="rendering_data">

                        {% for key, values in model.items %}
                        <p class="text-light">
                            position name:
                            <span class="text-light" id="position_name_{{ key }}">{{ key }}</span>
                        </p>

                        <p class="text-light">
                            quant_of_mavic:
                            <span class="text-light" id="mavic_on_pos_{{ key }}">{{ values.mavic }}</span>
                        </p>

                        <p class="text-light">
                            quant_of_autel:
                            <span class="text-light" id="autel_on_pos_{{ key }}">{{ values.autel }}</span>
                        </p>

                        {% endfor %}

                    </div>


                </form>
            </div>
            <br>
            <div class="rendering_data">
                <h5 class="text-light">Rendering data</h5>

                <p class="text-light">quant_of_mavic: <span class="text-light" id="quant_of_mavic">{{full_mavic}}</span>
                </p>
                <p class="text-light">quant_of_autel: <span class="text-light" id="quant_of_autel">{{full_autel}}</span>
                </p>
                <p class="text-light">quant_of_autel: <span class="text-light" id="period">{{date_period}}</span></p>
            </div>


        </div>
        <div></div>
        <div class="diagram_div">
            <canvas id="myChart" style="background-color: white;"></canvas>
            <br>
            <canvas id="myChartMavicPosition" style="background-color: white;"></canvas>
        </div>
    </div>
</div>
<script src="static/main_app/js/statistics_per_period.js"></script>
{%endblock%}